@media screen and (max-width: 999px) {
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .me {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-me {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .about-me h2 {
    text-align: center;
  }

  .work-education,
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }

  .language-sect {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .tech-skills {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-right: 0;
  }

  .experience {
    width: 100%;
    margin-right: 0;
    margin-top: 30px;
    height: auto;
  }

  .education {
    width: 100%;
    margin-top: 30px;
    height: auto;
  }

  .education-img {
    margin-left: 5%;
  }

  .contacts {
    margin-top: 30px;
  }
  .front-side,
  .back-side {
    min-height: 290px;
  }
}

@media screen and (max-width: 999px) {
  .menu-list li {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .name-photo {
    margin-right: 0;
  }
  .menu-list {
    display: none;
  }
  .title-desktop {
    display: none;
  }
  .title-mobile {
    display: block;
  }

  .title-mobile-article,
  .title-mobile-blog {
    display: block;
  }
  .menu-mobile {
    display: block;
  }
  .front-side,
  .back-side {
    min-height: 290px;
  }
  .front-side .inner span {
    font-size: 90%;
  }
  .front-side .inner p {
    font-size: 90%;
  }
  .project-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 756px) {
  .title-desktop {
    font-size: 30px;
  }

  .education-block {
    display: block;
  }

  .education-img {
    width: 100%;
    margin-left: 0;
  }
  .front-side,
  .back-side {
    min-height: 222px;
  }
}

@media screen and (max-width: 589px) {
  .title-mobile {
    display: block;
    font-size: 30px;
  }

  .contacts h2 {
    margin: 10px 0;
  }
  .contacts p {
    margin: 10px 0;
  }
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts-list li {
    margin: 0 10px 0;
    padding: 0;
  }

  .tech-list li {
    font-size: 20px;
  }

  .about-me h2 {
    margin: 20px;
    text-align: center;
  }

  .tech-skills h2 {
    margin: 20px;
  }
  .front-side,
  .back-side {
    min-height: 164px;
  }
}

@media screen and (max-width: 500px) {
  .skill-per::before {
    display: none;
  }
}
